<div class="row">
    <div ng-repeat='benefit in $ctrl.detailCoupons track by $index' class='container-fx'>
        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9 container-text">
            <div class="benefit">
                <div class="benefit-description">
                    <p class='percentage'>{{benefit.percentage}}</p>
                    <p class="percentage-detail">{{benefit.title}}.</p>
                    <p class="partner">
                        <span><img src="app/assets/avatar.png" class="partner-min"></span>
                        <span class="partner-name">{{benefit.partner}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 container-image">
            <div class="partner-brand">
                <img src="app/assets/greyimg.png" class="partner-avatar">
            </div>
        </div>
        <div class="row">
            <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
                <availability-component ng-if="$index == 0"></availability-component>
                <request-component ng-if="$index == 1"></request-component>
                <favorite-benefit-component ng-if="$index == 2"></favorite-benefit-component>
                <availability-component ng-if="$index == 3"></availability-component>
                <request-component ng-if="$index == 4"></request-component>
            </div>
        </div>
    </div>
</div>